$buttonHeight: 40px;
$backgroundColor: #efefef;

.container {
    position: relative;
    display: flex;
}

.button {
    height: $buttonHeight;
    width: 150px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background-color: $backgroundColor;

    span {
        font-size: 14px;
        text-align: left;
        margin-right: 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &:hover {
        cursor: pointer;
    }
}

.list {
    position: absolute;
    top: calc($buttonHeight + 4px);
    width: 150px;
    background-color: #fff;
}

.itemWrapper {
    padding-top: 4px;
}

.item {
    font-size: 12px;
    padding: 12px;
    background-color: $backgroundColor;
    color: black;
    border-radius: 4px;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.selectedValue {
    background-color: green;
}

.item[aria-selected='true'] {
    opacity: 0.5;
    color: $backgroundColor;
    background-color: black;
}
